.table img{
    width: 75px;
    height: 50px;
}

.imgBio{
    height: 225px;
}

thead tr td{
    font-weight: bold;
}

.beer.ng-enter.ng-enter-active,
.beer.ng-leave{
    opacity: 0;
    overflow: hidden;
    height: 100px;
}

.beer.ng-enter.ng-enter-active,
.beer.ng-enter{
    opacity: 1;
    overflow: hidden;
    height: 0;
}

